In [11]:
#1.1
nums = [3, 5, 7, 8, 12]
print(nums)

cubes = []
for num in nums:
    cube = num ** 3
    cubes.append(cube)
    
print(cubes)

#1.2
dict = {}
dict['parrot'] = 2
dict['goat'] = 4
dict['spider'] = 8
dict['crab'] = 10

print(dict)

#1.3
legCount = 0
for animal, legs in dict.items():
    print(f'{animal}: {legs} legs')
    legCount += legs

print(f'Total legs count: {legCount}')

#1.4
A = (3, 9, 4, [5, 6])
print(A)
A[3][0] = 8
print(A)

#1.5
del A

#1.6
B = ('a', 'p', 'p', 'l', 'e')
freqP = B.count('p')
print(f"The character 'p' occured {freqP} times in the tuple.")

#1.7
indexOf_l = B.index('l')

print(f"The index of 'l': {indexOf_l}")

[3, 5, 7, 8, 12]
[27, 125, 343, 512, 1728]

In [37]:
import numpy as np
#2.1
A = np.array([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
])
z = np.array([1, 0, 1])
#2.2
b = A[:2, 1:3] 
#2.3
C = np.empty_like(A)
#2.4
for i in range(A.shape[1]):
    C[:, i] = A[:, i] + z

X = np.array([[1,2],[3,4]])
Y = np.array([[5,6],[7,8]])
v = np.array([9,10])
#2.5
print(f"X+Y={X+Y}")
#2.6
print(f"X*Y={X*Y}")
#2.7
sqrtY = np.sqrt(Y)
print(f"Element-wise sqaure-root of Matrix Y: {sqrtY}")
#2.8
dotProd_Xv = np.dot(X, v)
print(f"X.v = {dotProd_Xv}")
#2.9
sum_cols_X = np.sum(X, axis=0)
print(f"Sum of column elements of X: {sum_cols_X}")

X+Y=[[ 6  8]
 [10 12]]
X*Y=[[ 5 12]
 [21 32]]
Element-wise sqaure-root of Matrix Y: [[2.23606798 2.44948974]
 [2.64575131 2.82842712]]
X.v = [29 67]
Sum of column elements of X: [4 6]

In [4]:
#3.1
def calcVelocity(distance, time):
    if time == 0:
        raise ValueError("Time cannot be zero.")
    velocity = distance / time
    return velocity

distance = 1000  # in meters
time = 60    # in seconds
velocity = calcVelocity(distance, time)
print(f"Velocity = {velocity} meters per seconds")

#3.2
even_num = [2, 4, 6, 8, 10, 12] # ignoring 0 as it will result 0 after multiplication

def mult(numbers):
    result = 1  
    for num in numbers:
        result *= num 
    return result

# Example usage:
result = mult(even_num)
print(f"Product of even numbers up to 12: {result}")

Velocity = 16.666666666666668 meters per seconds
Product of even numbers up to 12: 46080

In [13]:
import pandas as pd

table = {
    'C1': [1, 2, 3, 5, 5],
    'C2': [6, 7, 5, 4, 8],
    'C3': [7, 9, 8, 6, 5],
    'C4': [7, 5, 2, 8, 8]
}
pdf = pd.DataFrame(table)
# 4.1
print(pdf.head(2))
# 4.2 
print(pdf['C2'])
# 4.3 
pdf.rename(columns={'C3': 'B3'}, inplace=True)
# 4.4
pdf['Sum'] = pdf.sum(axis=1)
# 4.5
pdf['Sum'] = pdf[['C1', 'C2', 'B3', 'C4']].sum(axis=1)
print(pdf)

# 4.6
df = pd.read_csv('hello_sample.csv')
# 4.7
print(f"Complete DataFrame: {df}")
# 4.8
print(f"Bottom 2 records of the DataFrame: {df.tail(2)}")
# 4.9
print(f"DataFrame Info: {df.info()}")
# 4.10
print(f"Share (Rows X Columns) of DataFrame: {df.shape}")
# 4.11
df_sorted = df.sort_values(by='Weight')
print(f"Sorted data of DataFrame using column Weight {df_sorted}")
# 4.12
print(df.isnull().sum())
df_dropped = df.dropna()
print(f"DataFrame after using isNull() & dropNa() methods: {df_dropped}")

   C1  C2  C3  C4
0   1   6   7   7
1   2   7   9   5
0    6
1    7
2    5
3    4
4    8
Name: C2, dtype: int64
   C1  C2  B3  C4  Sum
0   1   6   7   7   21
1   2   7   9   5   23
2   3   5   8   2   18
3   5   4   6   8   23
4   5   8   5   8   26
Complete DataFrame:     Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66
   Gender F_Color     B_Month  Weight
21   Male  Yellow       April      74
22   Male     Red  September       66
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Gender   23 non-null     object
 1   F_Color  23 non-null     object
 2   B_Month  23 non-null     object
 3   Weight   23 non-null     int64
dtypes: int64(1), object(3)
memory usage: 868.0+ bytes
None
(23, 4)
    Gender  F_Color     B_Month  Weight
2     Male    Black     October      53
16    Male    Black      August      54
9     Male     Blue         May      58
7   Female      Red   September      59
18    Male  Mustard   December       60
10  Female      Red    October       60
6     Male   Orange      August      60
8     Male     Blue        July      60
3   Female     Blue    February      63
11    Male    Black   September      65
22    Male      Red  September       66
20    Male    Black   February       67
13    Male    Black       April      72
1     Male      Red       March      72
21    Male   Yellow       April      74
19  Female    Black    October       76
0     Male    Black       March      77
4     Male    black    October       80
17    Male    Black     January      82
12    Male    Green    December      85
14    Male    Green    January       90
15    Male   Yellow   November       90
5   Female    Black    december      97
Gender     0
F_Color    0
B_Month    0
Weight     0
dtype: int64
    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66